@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


body {
   
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

.m-t{
    text-align: center;
    margin: 2rem .5rem;
}
.table-cont{
    width: 80%;
    margin: auto;

}
.admin-table {
    background-color: #F1F2F6;
    border-collapse: collapse;

    text-align: left;
    width: 100%;


}


table {
    border-radius: 1rem;
    width: 100%;
    border-collapse: collapse;
}

th,
td {

    padding: 20px;
    text-align: center;
}

/*.admin-table thead tr {*/
/*    border: solid;*/
/*    border-color: #333333;*/
/*    border-width: 2px;*/

/*}*/

    thead {
        text-align: left;
        background-color: darkgray;
        padding: 10px;
    }


.creditDataModal{
    position: absolute;
    display: none;

    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 2rem;
    border-radius: 1rem;

    width: 70vw;

}


.modal_body{
    display: flex;
    justify-content: space-around;
margin-top: 2rem}

.creditDataModal form{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.form__field {
    display: block;
    width: 60%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: green;
    border: 1px solid #333333;
    background: #ffffff;
    transition: border 0.3s ease;
}


.form__group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.form-group > span, .form-group .form-field {
    white-space: nowrap;
    display: block;
}
.modal_title{
    margin: 0; !important;
    font-weight: bold;
}

.add_status{
    background-color: #7aecff;
    color: black;
    border: none;
    height: 100%;
    border-radius: .5rem;
    font-weight: bold;
}

.status_list{
    list-style: none;
}
.status_list li{
    margin: .5rem 0;
}

.modal_b{

}

.filter_form{



}

.filter_form select{
    height: 2rem;

}
.filter_form input[type=submit] {
    height: 2rem;
    background-color: #8aff80;
    border: none;
    width: 7rem;

}

.filter_form input[type=date] {
    height: 2rem;
}

.filter_cont{
    background-color: #c3ffa9;

    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0 2rem;

}







